* {

	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	margin: 0;
	padding: 0;

}

.wrapper,
.images {

	width: 100%;
	background-color: #fff;

}

header {

	margin-left: 1.66%;
	width: 30%;

}

h1 {

	text-transform: uppercase;
	font-weight: 800;
	font-size: 200%;
	border-bottom: 3px solid #f1f1f1;
	padding: 20px 0;

}

/* LINKS */
a {

	text-decoration: none; /* Remove automatic browser underlining. */
	font-size: 100%; /* . . . of its container. */

}

/* IMAGES */

img {

	width: 30%;
	float: left;
	margin: 1.66%;
	-webkit-transition: -webkit-transform 1s, -webkit-filter 1s;
			transition: -webkit-transform 1s, -webkit-filter 1s;
			-o-transition: transform 1s, filter 1s;
			transition: transform 1s, filter 1s;
			transition: transform 1s, filter 1s, -webkit-transform 1s, -webkit-filter 1s;
	-webkit-transform: scale(1.02);
			-ms-transform: scale(1.02);
	    transform: scale(1.02); /* No zoom when not hovering -- minus 2% zoom to eliminate bottom border. */

}

img:hover,
img:active {

	-webkit-filter: brightness(106%);
	        filter: brightness(106%);
	-webkit-transition: -webkit-filter 0.5s;
			transition: -webkit-filter 0.5s;
			-o-transition: filter 0.5s;
			transition: filter 0.5s;
			transition: filter 0.5s, -webkit-filter 0.5s;

			-webkit-transition: -webkit-filter 1s, -webkit-transform 1s;

			transition: -webkit-filter 1s, -webkit-transform 1s;

			-o-transition: filter 1s, transform 1s;

			transition: filter 1s, transform 1s;
			transition: filter 1s, transform 1s, -webkit-filter 1s, -webkit-transform 1s;
	-webkit-transform: scale(1.05);
			-ms-transform: scale(1.05);
	    transform: scale(1.05); /* When hovering, zoom in to 5%. */

}

/* FOOTER */

footer {

	background-color: #000;
	width: 100%;
	display: inline-block;
	margin-top: 50px;

}

.footer-text {

	width: 30%;
	text-align: center;
	color: #555;
	margin: 0 auto;
	padding: 25px 0;

}

.footer-text p {

	font-size: 75%;
	padding: 15px;

}

footer a:link,
footer a:visited {

	color: #555;
	border-bottom: 1px solid #555; /* Custom underline */
	padding-bottom: 1px; /* Space for underline */
	-webkit-transition: border-bottom 0.2s, color 0.2s;
	-o-transition: border-bottom 0.2s, color 0.2s;
	transition: border-bottom 0.2s, color 0.2s; /* Transition takes 0.2 seconds. */

}

footer a:hover,
footer a:active {

	color: #fff;
	border-bottom: 1px solid transparent; /* Custom underline */

}

/* MEDIA QUERIES */

@media all and (max-width: 768px) {

	header {

		margin: 0 auto;
		width: 80%;
	
	}

	h1 {

		text-transform: uppercase;
		font-weight: 800;
		font-size: 200%;
		border-bottom: 3px solid #f1f1f1;
		padding: 20px 0;
	
	}

	img {

		float: none;
		display: block;
		width: 80%;
		margin: 40px auto;
	
	}

	.footer-text { width: 80%; }

}

@media all and (max-width: 500px) {

	* { font-size: 15px; }

}