* {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.wrapper,
.images {
	width: 100%;
	height: auto;
	background-color: #fff;
}

header {
	margin-left: 1.66%;
	width: 30%;
}

h1 {
	text-transform: uppercase;
	font-weight: 800;
	font-size: 200%;
	border-bottom: 3px solid #f1f1f1;
	padding: 20px 0;
}

img {
	width: 30%;
	float: left;
	margin: 1.66%;
}

footer {
	background-color: #000;
	width: 100%;
	/*height: 200px;*/
	display: inline-block;
	margin-top: 50px;
}

.footer-text {
	width: 50%;
	text-align: center;
	color: #555;
	margin: 0 auto;
	padding: 25px 0;
}

.footer-text p {
	font-size: 80%;
	padding: 15px;
}

.footer-text a {
	font-size: 100%;
	color: #555;
}

/* MEDIA QUERIES */

